.gallery_wrapper{
display:flex;
flex-wrap:wrap;
justify-content: center;
}

@media (max-width: 767px) {
    .filter {
        font-size:0.8rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .filter  {
        font-size:1rem;
    }
}

@media (min-width: 993px){
    .filter  {
        font-size:1.2rem;
    }
  }
  